@import url('https://fonts.googleapis.com/css?family=Rajdhani');

.logintag{
	font-size: 20px;
	margin-top: 5px;
	color: #212121;
	font-weight: bold;

}

.logintxt {
	color: rgb(255, 0, 140);
}


.loginbtn{
	border-radius: 40px;
	/* background-color: rgb(255, 0, 140); */
	background-image: linear-gradient(to bottom, rgb(255, 0, 140),rgb(255, 0, 140),rgb(226, 15, 68));
	/* border: 2px solid rgba(255, 0, 140); */
	border: none;
	transition: all 0.5s ease 0s;
	color: #ffffff;
	font-weight: bold;

}
/* .loginbtn:hover{
	border-radius: 40px;
	background-color: rgb(187, 6, 105);
	border: 2px solid rgba(187, 6, 105);
} */

 input:focus {
	outline: none;
	border-color:rgb(255, 0, 140);
	box-shadow: inset 0 1px 1px rgba(255, 0, 140, 0.075), 0 0 8px rgba(255, 0, 140, 0.6);
	background-color: #ffffff;
}

.form-control:focus {
	border-color:rgb(255, 0, 140);
	box-shadow: inset 0 1px 1px rgba(255, 0, 140, 0.075), 0 0 8px rgba(255, 0, 140, 0.6);
  }
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
	background-color: #ffffff !important ;
	color: #212121 !important;
}

/* .form-control {
	border: none;
	border-bottom: 2px solid rgb(255,0,140);
	border-radius: 0;
	height: 46px;
	width:100%;
	padding: 10px 6px;
	transition: all 0.5s ease 0s;
  }

.form-control:focus {
	background-color: rgb(255, 255, 255);
	border-bottom: 2px solid rgb(141, 1, 78);
	transition: all 0.5s ease 0s;
	box-shadow: none;
  }

  .form-control:hover{
	background-color: rgb(255, 255, 255);
	border-bottom: 2px solid rgb(141, 1, 78);
	transition: all 0.5s ease 0s;
	box-shadow: none;

  }

  input[type=text],  input[type=password],  input[type=number], input[type=email] {
    border: none;
	border-bottom: 2px solid rgb(255,0,140);
	border-radius: 0;
	height: 46px;
	width:100%;
	padding: 10px 6px;
	transition: all 0.5s ease 0s;
}

input[type=text]:focus, input[type=password]:focus,  input[type=number]:focus, input[type=email]:focus {
	background-color: rgb(255, 255, 255);
	border-bottom: 2px solid rgb(141, 1, 78);
	transition: all 0.5s ease 0s;
	box-shadow: none;
}
input[type=text]:hover,  input[type=password]:hover,  input[type=number]:hover, input[type=email]:hover {
	background-color: rgb(255, 255, 255);
	border-bottom: 2px solid rgb(141, 1, 78);
	transition: all 0.5s ease 0s;
	box-shadow: none;
} */


 .login{
/*background-image:url('../images/bg.jpg');*/
	background-color: rgb(249, 249, 249);
	/* background-image: linear-gradient(to right, #93a5cf,#e4efe9); */
	/*background-size:     cover;
	background-repeat:   no-repeat;*/
	font-family: 'Rajdhani', sans-serif;
	font-size: 16px;
}


.all_pages {
	/* background-color: #ffffff;	 */
	background-color: rgb(249, 249, 249);
	/* background-image: linear-gradient(to right, #93a5cf,#e4efe9); */
	font-family: 'Rajdhani', sans-serif;
}

.container{
	padding:5px;
}

img{

	border:0px;
	}


	.question_container{

		padding:4px;
		height:35%;
		overflow-y:auto;

	}
	.option_container{
		margin-top: -20%;
		padding:4px;
		height:35%;
		overflow-y:auto;

	}
	.op{

		padding:4px;
	}

	.question_div{

		display:none;
		border-top:1px solid #dddddd;
	}

	.footer_buttons{

		position:fixed;
		bottom:0px;
		background:#ffffff;
		width:100%;
		height:80px;
		padding:4px;

		border-top:1px solid #dddddd;


	}


	.qbtn{
		cursor:pointer;
		width:40px;
		height:30px;
		border-radius:5px;
		background-color:#212121;
		color:#ffffff;
		float:left;
		font-size:15px;
		padding:2px;
		text-align:center;
		margin:5px;
	}


	.save_answer_signal{

		float:right;
		width:6px;
		height:6px;
		border-radius:2px;
		background-color:#666666;
		 margin:2px;

	}




 #photograph{

	 width:150px;
	 height:150px;
 }




/* liveclassroom */


.arrow_box {
	position: relative;
	background: #d50f29;
	border: 0px solid #f5e131;
	border-radius:3px;
}
.arrow_box:after, .arrow_box:before {
	bottom: 100%;
	left: 7%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(213, 15, 41, 0);
	border-bottom-color: #d50f29;
	border-width: 10px;
	margin-left: -5px;
}



.class_text_board{
width:650px;
height:500px;
float:left;

}
.class_comment_board{
width:300px;
height:470px;
border-radius:10px;
float:right;
padding:5px;
border:1px groove #eee;
}
#comment_box{
width:290px;
height:400px;
overflow-y:scroll;
padding:5px;
}

#username_comment{
color:#666666;
font-size:11px;
}
#comment_send{

    background: white;
    border: 1px solid #DDD;
    border-radius: 5px;
    box-shadow: 0 0 5px #DDD inset;
    color: #666;
    outline: none;
    height:25px;
    width: 275px;


}
.class_heading{
width:650px;
height:35px;
background:#212121;
font-size:14px;
color:#ffffff;
padding: 5px 25px 0px;
border-radius:8px 8px 0px 0px;
}

#page::after{
content: ' ';
position: absolute;
width: 0px;
height:100%;
top: 0;
left: 20px;
border-left: 1px solid #F8D3D3;
}
#page {
width:650px;
height:400px;
overflow-y:scroll;
line-height: 30px;
font-size: 14px;
padding: 5px 25px 27px;
position: relative;
outline: none;
background: white;
background: -webkit-linear-gradient(top, #dfe8ec 0%, #ffffff 8%) 0 0px;
background: -moz-linear-gradient(top, #dfe8ec 0%, #ffffff 8%) 0 0px;
background: linear-gradient(center top, #dfe8ec 0%, #ffffff 8%) 0 0px;
-webkit-background-size: 100% 30px;
-moz-background-size: 100% 30px;
-ms-background-size: 100% 30px;
background-size: 100% 30px;
}


#page_res{
float:right;
color:#666666;
font-size:12px;
}
.div_exp_corr{
background:#E0FFE0;
display:none;
}
.div_exp_wrong{
background:#FF9D9D;
display:none;
}



#stat_box{
width:210px;
height:100px;
border:0px solid #dddddd;
float:left;
margin-left:20px;
}
#stat_head{
width:210px;
height:30px;
background:#ec5c0d;
font-family:arial;
font-size:16px;
color:#ffffff;
text-align:center;
padding:4px 0px 0px 0px;
border-radius:4px 4px 0px 0px;
}

#stat_val{
width:210px;
height:66px;
background:#eeeeee;
font-family:arial;
font-size:40px;
color:#212121;
text-align:center;
padding:4px 0px 0px 0px;
border-radius:0px 0px 4px 4px;
}



.op_style{
background:#eeeeee;
padding:4px;
margin:5px;
border:1px solid #dddddd;

}


.font-size-34 {
    font-size: 34px !important;
}
.font-weight-light {
    font-weight: 300 !important;
}
strong {
    font-weight: 700;
    color:#666666;
}
.revenuew{
background-color: #F5FBFC;
margin:5px;
padding:5px;
}
.navbar-default .navbar-brand{

color:#e7e7e7;
font-weight: bolder;
font-size: 30px;
}

.navbar-default .navbar-brand:hover{

	color:#e7e7e7;
	font-weight: bolder;
	font-size: 30px;
	}

.navbar-default {
    background-color: #242424;
	border-color: #242424;
	font-family: 'Rajdhani', sans-serif;
	float: none;
	border-radius: 0;
}

.navbar-default .navbar-nav > li > a {
    color: #ffffff;
    font-family: 'Rajdhani', sans-serif;
	font-size:16px;
	font-weight: 900;
	float: none;
}

.dropdown-menu{
	background-color: #242424;
	color:#ffffff;
}

.dropdown-menu>li>a{

	color:#ffffff;
}

.dropdown-menu>li>a:hover{
	background-color: rgb(255,0,140);
	color:#ffffff;
}

/* .navbar-default .navbar-nav>.open>a:hover{
	background-color: rgb(255,0,140);
	color:#ffffff;
} */

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{
	background-color: rgb(255,0,140);
	color:#ffffff;
}



.navbar-default .navbar-nav > li > a:hover {
    color: rgb(255,0,140);
    font-family: 'Rajdhani', sans-serif;

}

.navbar-default .navbar-nav > .active > a{
	background-color: transparent;
}

@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: right;
		vertical-align: top;

    }

    .navbar .navbar-collapse {
        text-align: center;
	}

	.navbar-header{
		width:20%;
		color: #ffffff;
	}


}


.panel, .widget-more-link.b-a-1, .widget-products-image, :not(.panel) .thumbnail {
    border-color: #E0E0E0;
}

.panel-heading {
    position: relative;
    border-bottom: 1px solid #E2E2E2;
    background: none repeat scroll 0% 0% #FAFAFA;
}



















    .page-signin-modal {
      position: relative;
      top: auto;
      right: auto;
      bottom: auto;
      left: auto;
      z-index: 1;
      display: block;
    }

    .page-signin-form-group { position: relative; }

    .page-signin-icon {
      position: absolute;
      line-height: 21px;
      width: 36px;
      border-color: rgba(0, 0, 0, .14);
      border-right-width: 1px;
      border-right-style: solid;
      left: 1px;
      top: 9px;
      text-align: center;
      font-size: 15px;
    }

    html[dir="rtl"] .page-signin-icon {
      border-right: 0;
      border-left-width: 1px;
      border-left-style: solid;
      left: auto;
      right: 1px;
    }

    html:not([dir="rtl"]) .page-signin-icon + .page-signin-form-control { padding-left: 50px; }
    html[dir="rtl"] .page-signin-icon + .page-signin-form-control { padding-right: 50px; }

    #page-signin-forgot-form {
      display: none;
    }

    /* Margins */

    .page-signin-modal > .modal-dialog { margin: 30px 10px; }

    @media (min-width: 544px) {
      .page-signin-modal > .modal-dialog { margin: 60px auto; }
    }


	.ft_wt {
		font-weight: bold;
	}

	.sha_div{
		box-shadow: 0 4px 8px 0 rgba(165, 165, 165, 0.2), 0 6px 20px 0 rgba(165, 165, 165, 0.19);
		border: none;
	}

	.con_cen {
		text-align: center;
	}
/* Custome Chek and radio */

	.regular-checkbox {
		-webkit-appearance: none;
		background-color: #fafafa;
		border: 1px solid #cacece;
		box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
		padding: 9px;
		border-radius: 3px;
		display: inline-block;
		position: relative;
	}

	.regular-checkbox:active, .regular-checkbox:checked:active {
		box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
	}

	.regular-checkbox:checked {
		background-color: #e9ecee;
		border: 1px solid #adb8c0;
		box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
		color: #99a1a7;
	}

	.regular-checkbox:checked:after {
		content: '\2714';
		font-size: 14px;
		position: absolute;
		top: 0px;
		left: 3px;
		color: #99a1a7;
	}

	.big-checkbox {
		padding: 18px;
	}

	.big-checkbox:checked:after {
		font-size: 28px;
		left: 6px;
	}

	.regular-radio {
		-webkit-appearance: none;
		background-color: #fafafa;
		border: 1px solid #cacece;
		box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
		padding: 9px;
		border-radius: 50px;
		display: inline-block;
		position: relative;
	}

	.regular-radio:checked:after {
		content: ' ';
		width: 12px;
		height: 12px;
		border-radius: 50px;
		position: absolute;
		top: 3px;
		background: #99a1a7;
		box-shadow: inset 0px 0px 10px rgba(0,0,0,0.3);
		text-shadow: 0px;
		left: 3px;
		font-size: 32px;
	}

	.regular-radio:checked {
		background-color: #e9ecee;
		color: #99a1a7;
		border: 1px solid #adb8c0;
		box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1), inset 0px 0px 10px rgba(0,0,0,0.1);
	}

	.regular-radio:active, .regular-radio:checked:active {
		box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
	}

	.big-radio {
		padding: 16px;
	}

	.big-radio:checked:after {
		width: 24px;
		height: 24px;
		left: 4px;
		top: 4px;
	}

	/* Custome input and select */

	.in_sel{
		height: 34px;
		padding: 6px 12px;
		font-size: 14px;
		line-height: 1.42857143;
		color: #555;
		background-color: #fff;
		background-image: none;
		border: 1px solid #ccc;
		border-radius: 4px
	}

	.re-tbl{
		background:rgb(255, 0, 140);
		color:#ffffff;
	}

	.row-clr{
		background-image: linear-gradient(to bottom, #ffffff,#ffffff,#ffffff,#e0e0e0);
	}


	/* Panel Custome */
	.panel-info {
		border-color: rgb(243, 169, 210);
	  }

	.panel-info > .panel-heading {
		color: rgb(255,0,140);
		background-color: rgb(230, 230, 230);
		border-color: rgb(230, 230, 230);
	  }
	  .panel-info > .panel-heading + .panel-collapse > .panel-body {
		border-top-color: rgb(230, 230, 230);
	  }
	  .panel-info > .panel-heading .badge {
		color: rgb(240, 216, 229);
		background-color: rgb(255,0,140);
	  }
	  .panel-info > .panel-footer + .panel-collapse > .panel-body {
		border-bottom-color: rgb(230, 230, 230);
	  }

	  .panel-footer{
		  color:rgb(255,0,140);
	  }

	  .loginbtn-hollow{
		border-radius: 40px;
		/* background-color: rgb(255, 0, 140); */
		/* background-image: linear-gradient(to bottom, rgb(255, 0, 140),rgb(255, 0, 140),rgb(226, 15, 68)); */
		border: 1px solid rgba(255, 0, 140);

		transition: all 0.5s ease 0s;
		color: rgb(255,0,140);
		font-weight: bold;
	  }

	  .loginbtn-hollow:hover{
		border-radius: 40px;
		/* background-color: rgb(255, 0, 140); */
		background-image: linear-gradient(to bottom, rgb(255, 0, 140),rgb(255, 0, 140),rgb(226, 15, 68));


		transition: all 0.5s ease 0s;
		color: #ffffff;
		font-weight: bold;
	  }

	  .inputfile {
		width: 0.1px;
		height: 0.1px;
		opacity: 0;
		overflow: hidden;
		position: absolute;
		z-index: -1;
	}









	  .test{
		  color: rgb(128, 128, 128)
	  }







	  /* Customize the label (the container)
.container {
	display: block;
	position: relative;
	padding-left: 35px;
	margin-bottom: 12px;
	cursor: pointer;
	font-size: 22px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
  }

  /* Hide the browser's default radio button */
  /* .container input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
  } */

  /* Create a custom radio button */
  /* .checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 25px;
	width: 25px;
	background-color: #eee;
	border-radius: 50%;
  } */

  /* On mouse-over, add a grey background color */
  /* .container:hover input ~ .checkmark {
	background-color: #ccc;
  } */

  /* When the radio button is checked, add a blue background */
  /* .container input:checked ~ .checkmark {
	background-color: #2196F3;
  } */

  /* Create the indicator (the dot/circle - hidden when not checked) */
  /* .checkmark:after {
	content: "";
	position: absolute;
	display: none;
  } */

  /* Show the indicator (dot/circle) when checked */
  /* .container input:checked ~ .checkmark:after {
	display: block;
  } */

  /* Style the indicator (dot/circle) */
  /* .container .checkmark:after {
	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
  }  */

	.otp-login,.submit-login {
		display: none;
	}
